<h1>List of Actively Tracked Threads</h1>

<form method="POST"> 

<textarea name="password" onClick="this.setSelectionRange(0, this.value.length)">Enter Password...</textarea>

<ul>
{% for thread in threads_list %}
  <li>
  	<a href="https://quip.com/{{thread}}">{{thread}}</a> 
  	<button type="submit" name="submit" value="{{thread}}">Delete</button>
  </li>
{% endfor %}
</ul>

<br><br>

  <textarea name="thread_id_to_add" onClick="this.setSelectionRange(0, this.value.length)">Add a Thread instead...</textarea>
  <button type="submit" name="submit" value="get_threads_add">Add</button>

</form>